<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Scrollable Divs with Thinner Scrollbar</title>
<style>
.slideshow-container {
  position: relative;
  max-width: 600px;
  margin: auto;
  display: flex;
  overflow-x: scroll;
}


.slide {
  display: block;
  margin: 0 15px;
}

.slide img {
  height: 400px;
}



</style>
</head>
<body>
    <div class="slideshow-container">
        <div class="slide">
          <img src="../static/pics/Bror_2.png" alt="Slide 1">
        </div>
        <div class="slide">
          <img src="../static/pics/Bror_3.jpg" alt="Slide 2">
        </div>
        <div class="slide">
          <img src="../static/pics/Bror_4.jpg" alt="Slide 3">
        </div>
      </div>
      
</body>
<script>


</script>
</html>
