<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" type="text/css" href="../static/gallery.css">
    <title>Bror Bruland</title>
</head>
<body>
    <div id="close" onclick="closepost()"></div>
    <header> 
        <a href="#Header"><img src="../static/pics/BrorLogo.png" alt="bror logo" ></a>
        <nav class="nav-links">
            <a href="#">Om mig</a>
            <a href="#contact">Kontakt</a>
            <a href="#">Priser</a>
        </nav>
        <div class="menu-icon" onclick="toggleNav()">☰</div>
    </header>
    <div id="focuspost">
        <div id="focuspic"><img src="../static/pics/post10.png" alt=""></div>
        <div id="focustext"></div>
    </div>
    <div id="gallery">
        <div id="1" class="post"><img src="../static/pics/post10.png" alt="post10" onclick="openpost('../static/pics/post10.png', 1)"></div>
        <div id="1" class="post"><img src="../static/pics/post10.png" alt="post10" onclick="openpost()"></div>
        <div id="1" class="post"></div>
        <div id="1" class="post"></div>
        <div id="1" class="post"></div>
        <div id="1" class="post"></div>
        <div id="1" class="post"></div>
        <div id="1" class="post"></div>
        <div id="1" class="post"></div>
        <div id="1" class="post"></div>
        <div id="1" class="post"></div>
        <div id="1" class="post"></div>
        <div id="1" class="post"></div>
        <div id="1" class="post"></div>
        <div id="1" class="post"></div>
        <div id="1" class="post"></div>
        <div id="1" class="post"></div>
        <div id="1" class="post"></div>
        <div id="1" class="post"></div>
        <div id="1" class="post"></div>
        <div id="1" class="post"></div>
        <div id="1" class="post"></div>
        <div id="1" class="post"></div>
        <div id="1" class="post"></div>
        <div id="1" class="post"></div>
    </div>
    <footer>>Hej og velkommen! Jeg er [Dit Navn], en dedikeret personlig træner med en passion for at hjælpe musikere og kreative sjæle med at opnå deres optimale sundhed og velvære. Som en selvstændig kreativ person forstår jeg de unikke udfordringer og krav, som musikere og kunstnere står over for i deres travle livsstil.

        Mit mål er at skabe skræddersyede træningsprogrammer, der ikke kun styrker din fysiske form, men også støtter din kreative proces. Jeg tror på, at en sund krop og en sund sjæl går hånd i hånd, og at motion kan være en kilde til inspiration og energi.
        
        Uanset om du er en musiker på turné, en kunstner i studiet, eller en kreativ person, der ønsker at forbedre dit overordnede velvære, er jeg her for at guide dig. Mine træningsmetoder kombinerer alsidige øvelser med fokus på fleksibilitet, styrke og udholdenhed, skræddersyet til at imødekomme de specifikke behov og krav i din kreative livsstil.
        
        Jeg tror på, at træning skal være sjovt og motiverende, og jeg er her for at skabe et støttende og positivt miljø, hvor du kan opnå dine sundheds- og fitnessmål. Lad os sammen skabe et program, der ikke kun forbedrer din fysiske form, men også fremmer din kreativitet og livsglæde.
        
        Er du klar til at tage det næste skridt mod en sundere og mere inspirerende livsstil? Lad os begynde rejsen sammen</footer>

    <script src="../static/script.js"></script>
    <script src="../static/gallery.js"></script>
</body>
</html>